EWARM/led_indicator/*
/EWARM/led_indicator/*
*.o
*.pbi
*.xcl
Doxygen
/Doxygen

EWARM/settings/Project.wsdt
EWARM/settings/led_indicator.dnx
EWARM/settings/led_indicator.dbgdt

*.dbgdt
*.dnx
EWARM/settings/led_indicator.led_indicator.general.xcl
.mxproject
.vscode/iar-vsc.json
EWARM/settings/led_indicator.led_indicator.driver.xcl
EWARM/settings/led_indicator.crun
EWARM/settings/led_indicator.STM32L412k8u.cspy.bat
EWARM/settings/led_indicator.led_indicator.cspy.ps1
EWARM/led_indicator.dep
*.dep
EWARM/.metadata
