EWARM/firsttest/
/EWARM/firsttest/
*.o
*.pbi
*.xcl

EWARM/settings/Project.wsdt
EWARM/settings/firsttest.dnx
EWARM/settings/firsttest.dbgdt

*.dbgdt
*.dnx
EWARM/settings/firsttest.firsttest.general.xcl
.mxproject
.vscode/iar-vsc.json
EWARM/settings/firsttest.firsttest.driver.xcl
EWARM/settings/firsttest.crun
EWARM/settings/firsttest.STM32L412k8u.cspy.bat
EWARM/settings/firsttest.firsttest.cspy.ps1
EWARM/firsttest.dep
*.dep
EWARM/.metadata
